body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

form input[type="text"],
form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

button.delete-btn {
    padding: 10px;
    background-color: #ff3333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

button.edit-btn {
    padding: 10px;
    background-color: #3366cc; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-btn:hover,
button.edit-btn:hover {
    background-color: #161515; 
}